html, body {
  scroll-snap-type: y mandatory;
  /* scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory; */
  margin: 0;
  padding: 0;
}



.scroll-snap {
  scroll-snap-align: start;
  height: 100vh;
  padding: 16px;
  /* scroll-margin: 8px; */
  /* scroll-snap-margin: 8px; works in Safari */
}